
{% capture officialurl %}{{ site.url }}{{ page.url | replace:'/index.html','/'}}{% endcapture %}

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Campatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width; initial-scale=1" />
	<link href="{{ officialurl }}" rel="canonical" />

	<title>{{ page.title }} &middot; {{ site.title }}</title>
	<meta name="author" content="{{ site.author.name }}" />
	{% if page.tags != null %}
	<meta name="keywords" content="{{ page.categories | join:',' | append:',' }}{{ page.tags | join:',' }}{{ page.ctag | join:',' | prepend:',' }}" />
	{% endif %}
	{% if page.ispost == true %}
	{% if page.description != null %}{% capture postdesc %}{{ page.description | escape }}{% endcapture %}
	{% else %}{% capture postdesc %}{{ page.content | split:'<!--readmore-->' | first | markdownify | strip_html | strip_newlines | truncate:100 | escape }}{% endcapture %}
	{% endif %}
	<meta name="description" content="{{ postdesc }}" />
	<meta property="og:description" content="{{ postdesc }}" />
	{% endif %}
	<meta property="og:title" content="{{ page.title | escape }}" />
	<meta property="og:url" content="{{ officialurl }}" />
	<meta property="og:site_name" content="{{ site.title | escape }}" />
	{% if page.og.ogtype != null %}
	<meta property="og:type" content="{{ page.og.ogtype }}" />
	{% endif %}

	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/atom.xml">

	<link rel="stylesheet" href="/public/css/pygments.css" />
	<link rel="stylesheet" href="/public/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/public/css/basic_style.css" />

</head>
